<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <link rel="stylesheet" href="Css/register.css">
</head>
<body>
    <h1>Crear Cuenta</h1>
    <div class="register-container">
        <input type="text" id="edtuser" placeholder="Nombre de usuario" required>
        <input type="email" id="edtemail" placeholder="Email" required>
        <input type="password" id="edtpassword" placeholder="Contraseña" required>
        <input type="submit" id="btnregister" value="Registrar" class="btn btn-primary">
    </div>
    <a href="index.html">¿Ya tienes cuenta? Inicia sesión aquí</a>

    <script src="Controllers/register.js"></script>
</body>
</html>
